@media(max-width: 988px) {
    .mas1 {
        flex-direction: column;
    }
}

@media(max-width: 988px) {
    .mas2 h5 {
        font-size: 15px;
    }
}

@media(max-width: 988px) {
    .mas2 p {
        font-size: 20px;
    }

}
@media(max-width:1320px){
    .container{
        padding:  0 20px;
    }
}
@media(max-width: 988px) {
    .mas2 h4 {
        font-size: 60px;
    }
}

@media(max-width: 740px) {
    .mas4 {
        grid-template-columns: repeat(1, 1fr);
        gap:35px;

    }
}
@media(max-width: 730px) {
    .texter p{
        font-size: 18px;
    }
}
@media(max-width:750px){
    .nk img{width:90%;

    }
}
@media(max-width:485px){
    .skizb a{padding-left: 20px;
      
    }
}
@media(max-width:600px){
    .mas2 h4{
        font-size: 45px;
    }
}
@media(max-width:500px){
    .skizb a{
        gap: 1px;
    }
   
}
@media(max-width:530px){
    .nk2 img{
        width: 90%
    }
}