* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.skizb {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    h6 {
        font-weight: 700;
        font-size: 18px;
        line-height: 180%;
        letter-spacing: 0px;

    }

    a {
        padding-left: 48px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        text-decoration: none;
        color: black;
    }


}
button{
    cursor: pointer;
}

.mas1 {padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 45px;
    background-color: #FDC435;
    height: 100%;

    h1 {
        font-size: 50px;
        font-weight: 500;
        color: black;
        text-align: center;
    }
    h4{
        color: black;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
}
.a{text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    a{
        text-decoration: none;
        color: #FDC435;
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        border: 5px solid black;
        border-radius: 10px;
    }
}
.slaq{
    .nkk{width:60px;
   margin-left:500px;
   transition: 0.3ms;
    }
    .nkk:hover{
        margin-top: -15px;
    }
}
.text{
    h4{
        padding-top: 20px;
        font-size: 25px;
        font-weight: 300;
        color: black;
    }
}